.Krushna53-Clients {
    /* height: 650px; */
    margin: 40px 0px;
}

.Krushna53-Clients h2 {
    font-size: 28px;
    text-align: center;
    margin: 55px 0px;
}

/* .gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
    max-width: 600px;
} */

.Krushna53-gallery h2 {
    text-align: center;
    margin: 55px 0px;
    font-size: 28px;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    flex-wrap: wrap;
  }
  .logo-section img{
    max-width: 150px;
    width: 150px;
  }

  @media screen and (max-width: 767px) {
  .logo-section{
    display: block;
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding: 0px;
}
.image-folder {
    padding: 2rem 0rem;
}
.image-folder img {
    /* max-width: 100%; */
    width: 100%;
    padding: 1rem 0rem;
}
.gallery-container {
    max-width: 100%;
}

  }