.Krushna53-AboutUs {
    margin: 78px 29px;
}

.Krushna53-AboutUs-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.Krushna53-AboutUs-flex .AboutUs-info {
    max-width: 635px;
    height: auto;
    color: #000;
}

.Krushna53-AboutUs h2 {
    font-size: 27px;
    margin-bottom: 20px;
    color: #000;
}

.AboutUs-info h3 {
    font-size: 20px;
    margin-bottom: 9px;
}

.AboutUs-info p {
    font-size: 19px;
    line-height: 38px;
    margin-bottom: 20px;
}

.blank-img {
    max-width: 490px;
    height: auto;
    border-radius: 5px;
}
.read-more {
    text-decoration: none;
    color: blue;
    font-size: 24px;
}



@media screen and (max-width: 767px) {
    .Krushna53-AboutUs-flex {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .blank-img {
        max-width: 323px;
        height: auto;
        border-radius: 5px;
    }
}