 .Krushna53-banner {
    min-height: auto;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /* background: #E7E1E1; */
}

.Krushna53-paragraph {
    max-width: 60%;
    padding-left: 50px;
}

.Krushna53-banner-img {
    max-width: 50%;
}

.Krushna53-paragraph,
.Krushna53-banner-img img {
    align-items: center;
    margin: 70px 0px;
}

 .Krushna53-banner h1 {
    padding-bottom: 2.0rem;
    font-size: 4.0rem;
    color: #000;
}

 .Krushna53-banner p {
    padding-bottom: 2.0rem;
    font-size: 1.5rem;
}

.Krushna53-Con-button a button {
    background: #efa92a;
    padding: 1rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    border: none;
    color: #384baf;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.Krushna53-Con-button a button:hover {
    cursor: pointer;
    background: #efa92a;
}

.Krushna53-banner-img img {
    max-width: 400px;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}