.blogtext {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    position: relative;
    margin-top: 150px;
    padding-bottom: 20px;
}

.blog-left {
    max-width: 50%;
    padding-left: 80px;
}



.blog-left h2 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.blog-left p {
    max-width: 400px;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 20px;
}

.blog-right image {
    max-width: 637px;
    border-radius: 20px;
}

.read-more {
    text-decoration: none;
    color: blue;
    font-size: 24px;
}
/*  */
@media screen and (max-width: 767px) {
.blog-left {
    max-width: 100%;
    padding: 0px;
}
.blog-right {
    max-width: 100%;
}
}