.footer-section {
    background-color: #EEE8E8;
}

.footerwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 65px;
}

.logo {
    max-width: 227px;
}
.logo img{
    width: 100px;
}
.footerwrapper p {
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-icons {
    display: flex;
    max-width: 100%;

}

.icon {
    display: inline-block;
    font-size: 27px;
    /* animation: float 5s ease-in-out infinite; */
    color: #384baf;
    margin: 0px 6px;
}

.icon:hover {
    color: #8c3a29;
}

.footer-icon {
    text-decoration: none;
    margin: auto;

}

.ri-facebook-circle-fill {
    animation-delay: 1s;
}

.ri-instagram-line {
    animation-delay: 2s;
}

.ri-linkedin-box-fill icon {
    animation-delay: 3s;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0)
    }
}


/*  */

@media screen and (max-width: 767px) {
.footerwrapper {
padding: 0px;
}
}