
.hamburger-menu{
    display: none;
}
@media only screen and (max-width: 1024px) {
    .service-blog {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-image img {
        display: flex;
        flex-wrap: wrap;
    }

    .blogtext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
    }

    .blog-left p {
        text-align: center;
        font-size: 29px;
    }

    .blog-left h2 {
        text-align: center;
    }

    .blog-left {
        padding-left: 58px;
        margin-top: 89px;
        line-height: 30px;
    }

    .blog-left .read-more {
        justify-content: center;
    }

    .read-more {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 40px;
    }

    /* .blog-left {
        padding-left: 58px;
        margin-top: 89px;
    } */
    .blog-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin: 30px 0px 0px 0px;
    }

    .blog-right img {
        max-width: 650px;
    }

    .blank-img {
        /* margin: 0px 9px 0px 0px; */
        max-width: 390px;
    }

    .AboutUs-info p {
        line-height: 30px;
    }

    .Krushna53-Testimonials-img {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .Krushna53-Testimonials-img img {
        max-width: 363px;
        margin-left: 0px;
    }

    .Krushna53-Testimonials p {
        margin: 0px 0px 0px 15px;
    }

    .blog-right {
        max-width: 53%;
    }

    .Krushna53-paragraph {
        margin: 70px 4px;
    }

    .Krushna53-banner-img img {
        max-width: 330px;
    }

    .Krushna53-AboutUs-flex .AboutUs-info {
        max-width: 230px;
    }

    .aboutus-image {
        display: flex;
    }

    .gallery-container {
        max-width: 370px;
    }

    .gallery-container .slick-list {
        padding-left: 30px !important;
    }

    .Krushna53-Testimonials {
        display: block !important;
        max-width: 100%;
    }

    .Krushna53-Testimonials-paragraph {
        margin: auto;
        text-align: center;

    }

    .show-btn {
        display: block;
        font-size: 60px;
        color: black;
        position: absolute;
        top: 0;
        right: 5%;
        z-index: 4;
    }

    .Krushna53-header {
        max-width: 100%;
        height: 100%;
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display: flex;
        flex-direction: row;
        z-index: 3;
    }

    .Krushna53-header ul {
        display: block;
    }

    .Krushna53-navbar ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Krushna53-navbar li {
        margin: 18px 2rem;
        text-align: left;
    }

    .Krushna53-navbar li a i {
        margin: 0px 10px;
    }

    .Krushna53-Con-button button {
        margin-bottom: 40px;
    }

    .show-btn i {
        font-size: 40px;
    }

    .Krushna53-navbar ul li a {
        font-size: 1.9rem;
    }

}

@media only screen and (max-width: 768px) {
    .blogtext {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .service-blog {
        display: flex;
        flex-direction: column;
    }

    .blogtext {
        display: flex;
        flex-direction: column;
    }

    .blog-left {
        max-width: 40%;
        padding-left: 0px;
        margin-top: 76px;
    }

    .blog-right {
        max-width: 60%;
    }

    .blog-right img {
        max-width: 500px;
        margin-top: 50px;
    }

    .blog-left h2 {
        text-align: center;
        font-size: 39px;
    }

    .blog-left p {
        text-align: center;
        font-size: 22px;
    }

    .read-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .footerwrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .logo {
        margin: 20px 0px 10px 0px;
    }

    .footerwrapper p {
        margin: 0px 0px 50px 0px;
    }

    .footer-icon {
        margin-bottom: 20px;
    }

    .Krushna53-header .Krushna53-Con-button {
        margin: 2rem 2rem 2rem 2rem;
    }


}

@media (min-width:768px) and (max-width:1024px) {
    .Krushna53-AboutUs-flex .AboutUs-info {

        max-width: 635px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .blank-img {

        max-width: 543px;
        display: flex;
        align-items: center;
        margin: auto;
    }

    .Krushna53-AboutUs-flex {
        display: block;

    }

    .AboutUs-info h2 {
        font-size: 35px;
        margin-top: 25px;
    }

    .AboutUs-info h3,
    .AboutUs-info p {
        font-size: 25px;
    }

    .Krushna53-banner-img {
        display: flex;
        align-items: center;
        margin-right: 18px;

    }

    .Krushna53-logo img {
        max-width: 254px;
    }

    .Krushna53-navbar ul li a {

        font-size: 3rem
    }

    .Krushna53-navbar li {
        margin: 28px 2rem;
        text-align: center;
    }

    .Krushna53-header .Krushna53-Con-button button {

        padding: 2rem;

        font-size: 2rem;
    }

    #Top-btn {
        width: 52px !important;
        height: 52px !important;
        font-size: 35px !important;
    }
}

@media only screen and (max-width: 767px) {
    .service-text {
        font-size: 48px;
    }

    .blog-image img {
        max-width: 231px;
        height: 195px;
    }

    .blog-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .blog-right img {
        max-width: 350px;
    }

    .footerwrapper p {
        font-size: 22px;
    }

    .slick-prev {
        left: 20px !important;
        color: #fff !important;
        background: black !important;
    }

    .slick-next {
        right: 21px !important;
    }

    .Krushna53-Testimonials p {
        margin: 0px 0px 0px 0px;
    }
}