.service-text {
    text-align: center;
    font-size: 40px;
    margin: 30px 0px 70px 0px;
}

.service-blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 60px;
}

.blog-image img {
    max-width: 260px;
    height: 216px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.blog-image h2 {
    text-align: center;
    font-size: 25px;
}
