 .Krushna53-Testimonials {
    min-height: auto;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: #fff;
}

 .Krushna53-Testimonials-img {
    max-width: 40%;
}

 .Krushna53-Testimonials-paragraph {
    max-width: 655px;
}

.Krushna53-Testimonials,
.Krushna53-Testimonials-img img {
    align-items: center;
    margin: 70px 0px;
}

 .Krushna53-Testimonials h1 {
    padding-bottom: 2.0rem;
    font-size: 2.0rem;
    color: #000;
}

 .Krushna53-Testimonials p {
    padding-bottom: 2.0rem;
    font-size: 1.5rem;
}

.Krushna53-Testimonials-img img {
    max-width: 400px;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-left: 50px;
}

/*  */
@media screen and (max-width: 767px) {
.Krushna53-Testimonials-img {
    max-width: 100%;
}
.Krushna53-Testimonials-img img {
    max-width: 100%;
    margin-left: 0px;
}
}